.ex-1-square {
    transition: 3s;
}
.ex-1-square:hover {
    background: red;
}

.ex-2-square{
    transition: 3s;

}

.ex-2-square:active{
 
    width: 100%;   
}

.ex-3-square{
 
     transition: 3s;
}

.ex-3-square:hover{
    border-radius: 100%;
 
     
}

.ex-4-square{
 
    transition: 2s;
}

.ex-4-square:hover{
  
 opacity: 0;    
}

.ex-5-square{
    transition: 2s;
 
}

.ex-5-square:hover{
   transform: scale(2);

 
}

.ex-5-square:active{
    transform: scale(0.5);
}

.ex-6-img:hover{
    filter: grayscale(1);
}


.ex-7-img{


}

.ex-8-img:hover{
   transition: 2s;
}

.ex-8-img:hover{
    filter: grayscale(0.6);
    filter: sepia(0.5);
    border-radius: 10px;
}


.ex-9-img{
    transition: 2s;
 }
 
 .ex-9-img:hover{
     filter: grayscale(0.6);
     filter: sepia(0.5);
     border-radius: 20px;
   transform: scale(1.5);
 }




